<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a class="mdl-layout__tab is-active" [routerLink]="['./home']">Home</a>
            <a class="mdl-layout__tab" [routerLink]="['./about']">About</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <router-outlet></router-outlet>
    </main>
</div>